<section class="h-100">
  <div class="container-fluid py-5 h-100 bg-light">
  <h1 class="text-dark">User Profile</h1>
      <hr>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
              <%= attachment_image_tag @user, :profile_image, fallback: "no-profile-image.png", class: "img-fluid img-thumbnail mt-4 mb-2", style: "width: 150px; z-index: 1" %>
              <% if @user.id == current_user.id %>
              <%= link_to "Edit profile",edit_user_path(@user), class:"btn btn-outline-dark",
                style:"z-index: 1;" %>
              <% end %>
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h3><%= @user.username %></h3>
              <% if @user.id == current_user.id %>
              <p><%= @user.email %></p>
              <% end %>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end text-center py-1">
              <div class="px-3">
                <p class="mb-1 h5"><%= link_to @user.rooms.count, "/users/#{@user.id}/room", style: "text-decoration:none; color:#000;" %></p>
                <p class="small text-muted mb-0">Rooms</p>
              </div>
              <div>
                <p class="mb-1 h5"><%= link_to @user.reservations.count, "/users/#{@user.id}/reservation", style: "text-decoration:none; color:#000;" %></p>
                <p class="small text-muted mb-0">Reserving</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">
                <p class="font-italic mb-1"><%= @user.profile %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>