<body class="text-center">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 bg-dark text-white vh-100 d-inline-flex align-items-center">
        <div class="col align-self-center">
          <div class="login-main-text">
            <h2>Application<br> Login Page</h2>
            <p>Login or register from here to access.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-inline-flex align-items-center">
        <div class="col align-self-center bg-light py-4 px-2 mx-5 rounded">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "label my-2" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "label my-2" %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class:"form-control" %>
            <% if devise_mapping.rememberable? %>
              <div class="form-group my-2">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>
          <div class="form-group mt-3">
            <%= f.submit "Log in", class: "btn btn-secondary mx-4 mb-2" %>
          </div>
          <%= render "devise/shared/links" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
