<div class="container-fluid py-4 h-100 bg-light">
    <h1 class="text-dark">Edit Room</h1>
      <hr>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-3">
        <div class="text-center">
          <%= attachment_image_tag @room, :image, fallback: "no-image.png", class: "img-fluid img-thumbnail mt-4 mb-2", style: "width: 150px; z-index: 1" %>
          <h6>Upload a room photo...</h6>
          <%= form_for @room do |f| %>
          <%= f.attachment_field :image, class: "form-control" %>
        </div>
      </div>
      
      <div class="col-lg-5">
        <div class="col">
            <h3>お部屋編集</h3>
            <div class="form-group">
                <%= f.label :address, "住所", class: "col-lg-3 control-label" %>
                <div class="col-lg-12">
                <%= f.text_area :address, class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :about, "お部屋詳細", class: "col-lg-3 control-label" %>
                <div class="col-lg-12">
                <%= f.text_area :about, class: "form-control" %>
                </div>
            </div>
            <div class="form-group">
                <%= f.label :price, "1泊あたりの料金", class: "col-lg-3 control-label" %>
                <div class="col-lg-6">
                <%= f.text_field :price, class: "form-control" %>
                </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-lg-5 mt-4">
        <div class="d-flex justify-content-between">
            <div class="p-2 bd-highlight">
                <%= link_to "戻る", room_path(@room), class:"btn btn-outline-dark btn-lg" %>
            </div>
            <div class="p-2 bd-highlight">
              <%= link_to "削除",room_path(@room), method: :delete, class:"btn btn-secondary btn-lg" %>
            </div>
            <div class="p-2 bd-highlight">
              <%= f.submit '更新', class: "btn btn-secondary btn-lg" %>
            <% end %>
            </div>
        </div>
        </div>
   </div>
</div>