<main role="main bg-secondary">
  <div class="container-fluid h-100 bg-light">
    <div class="album py-5">
      <h1 class="text-dark">Rooms All</h1>
      <hr>
        <div class="row mx-lg-n5 px-5">
            <% @rooms.each do |room| %>
                    <div class="col-md-3 ml-1">
                        <div class="card mb-5 shadow-sm">
                            <%= link_to room_path(room) do %>
                                <%= attachment_image_tag room, :image, fallback: "no-image.png", class: "bd-placeholder-img card-img-top", style: "width:100%; height:220px; object-fit:cover;" %>
                            <% end %>
                            <div class="card-body">
                                <h6 class="card-title">住所</h6>
                                <h4><%= room.address %></h4>
                                <h6 class="card-text">1泊あたり /人</h6>
                                <h4><%= room.price %> 円</h4>
                                <div class="d-grid gap-2 d-md-flex justify-content-end">
                                    <%= link_to "詳細",room_path(room),class:"btn btn-secondary btn-lg" %>
                                </div>
                            </div>
                        </div>
                    </div>
            <% end %>
        </div>
    </div>
  </div>
</main>