<!DOCTYPE html>
<html>
  <head>
    <title>HotelMeetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
    <% end %>

    <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
    <% end %>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-black">
    <%= link_to "HOTEL MEET",root_path, class: "navbar-brand display-block mx-2" %>

      <div class="collapse navbar-collapse justify-content-between mx-2">
        <ul class="nav navbar-nav mr-auto">
        <li class="nav-item active">
          <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Search">
          </form>
          </li>
        </ul>

      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
        <li class="dropdown_menu">
          <%= attachment_image_tag current_user, :profile_image, fallback: "no-profile-image.png", class: "header_img" %>
          <ul class="dropdown">
            <li><%= link_to "マイページ",user_path(current_user) %></li>
            <li><%= link_to "お部屋登録",new_room_path %></li>
            <li><a href="">子メニュー</a></li>
            <li><%= link_to "ログアウト",destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "LOG IN",new_user_session_path, class: 'btn btn-secondary' %>
            <%= link_to "SIGN UP",new_user_registration_path, class: 'btn btn-secondary' %>
          </li>
        <% end %>
      </ul>
      </div>
    </nav>
    
  <%= yield %>
  </body>
</html>
